.gallery_title {
  margin-left: 2%;
}
.gallery_content {
  
  color: rgb(184, 184, 200);
  margin-left: 2%;
}
.lead2 {
  /* border: red 2px solid; */
  display: flex;
  justify-content: center;
  margin-left: 28%;
}

.gallery_title {
  padding-top: 12%;
}
.Card {
  width: 30%;
}
.gemConatiner {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
}